.page {
    height:100vh;
    width: 100%;
    position: relative;
}

.page::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    /* background: url(../assets/tsuyuri-hara-TVO0e1Tjzqk-unsplash.jpg) no-repeat center center/cover; */
    background: url(../assets/sail.jpg) no-repeat center center/cover;
    /* filter:grayscale(80%); */
    opacity: 0.5;
    z-index: -1;
}

.splashcontainer {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.page h1 {
    color: rgb(35,35,80);
    text-transform: uppercase;
    font-size: 150px;
    letter-spacing: 9.5px;
}

.page h2 {
    color: rgb(74, 74, 84);
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'Commissioner';
    letter-spacing: 9.5px;
}
